@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kyle's Journal Project'</h1>
    <p>This is a simplistic test of Web app functionality. Thank you for viewing.</p>
</div>
